<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</header>

<nav class="nav-wrapper blue darken-4">
    <div class="container">
        <a href="patients.html" class="brand-logo">DocHub</a>

        <ul class="right">
            <li>
                <div class="center row">
                    <div class="col s12 ">
                        <div class="row" id="topbarsearch">
                            <div class="input-field col s6 s12 red-text">
                                <i class="red-text material-icons prefix">search</i>
                                <input type="text" placeholder="Search Patient" id="autocomplete-input"
                                    class="autocomplete red-text">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#" class="nav_link">Home</a></li>
            <li><a href="#" class="nav_link">About us</a></li>
            <li><a href="#" class="nav_link">Services</a></li>
        </ul>

    </div>
</nav>